.flip-card {
  background-color: transparent;
  width: 25rem;
  height: 28rem;
  perspective: 1000px;
  font-family: sans-serif;
  margin: auto;
  position: relative;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  font-family: Rakkas;
  letter-spacing: 0.1rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px dashed coral;
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: justify;
  background: linear-gradient(to top, #f6f3ea, #efeeeb, #ebebeb);
}
.flip-card-front p {
  font-size: medium;
}
.flip-card-front img {
  position: absolute;
  width: 35%;
  bottom: 0em;
  left: -5em;
  transform: none;
  /* z-index: -1; */
}
.flip-card-front img:hover {
  transform: none;
}
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; */
  backface-visibility: hidden;
  border: 2px dashed white;
  border-radius: 1rem;
  transform: rotateY(180deg);
  background-color: #dc6e66;
}

/* CSS */
.btn {
  background-color: #dc6e66;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 60%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  /* transform: rotate(-2deg); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.7rem;
  margin: auto;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  border-radius: 1.7rem;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}
.btn:hover {
  background-color: #f7ded5;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}
@media all and (max-width: 767px) {
  .flip-card {
    width: 20em;
    height: 35rem;
    padding: 0rem;
  }
  .flip-card-front img {
    position: absolute;
    width: 35%;
    bottom: 0em;
    left: -3.5em;
    transform: none;
    /* z-index: -1; */
  }
}
