.landingPage2 {
  /* border: 1px solid red; */
  height: 87vh;
}

/* section 1 */
.section1 {
  width: 60%;
  background-color: #f5c365;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.section1Content {
  display: flex;
  justify-content: center;
}

.section1Content p {
  border-right: 1px solid black;
  padding: 0 1.5rem;
}
.section1Content p:nth-last-child(1) {
  border-right: none;
}

/* section 2 */
/* CSS */
.btn {
  background-color: #f7ded5;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 60%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  /* transform: rotate(-2deg); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.7rem;
  margin: auto;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  border-radius: 1.7rem;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}
.btn:hover {
  background-color: #dc6e66;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section2Content {
  text-align: center;
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section2Content button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 35%;
}

.section2Content h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Rakkas;
  font-size: 40px;
  letter-spacing: 0.2rem;
  color: #333;
  /* margin: -0.4rem 0; */
}

.section2Content p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333;
}

.section2Content h1 span,
.section2Content p span {
  display: inline-block;
  animation: slideLeft 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* LinkedIn href */
/* a {
  position: fixed;
  bottom: 20px;
  right: 25px;
  transition: 0.2s;
  animation: slideLeft 1.5s forwards;
}

a:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: #333;
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

a:hover::after {
  width: 100%;
} */

.section2Buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}
.section2Buttons button {
  width: 20%;
}

.section2Images {
  display: flex;
  justify-content: space-between;
  margin-top: -6rem;
}
.left {
  width: 40%;
}
.left img {
  width: 50%;
  /* border: 1px solid black; */
}
.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.right img {
  width: 50%;
  /* border: 1px solid black; */
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* section 1 */
  .section1 {
    width: 100%;
    margin-bottom: 1rem;
  }

  /* section 2 */
  .section2Content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section2Buttons {
    gap: 3rem;
  }
  .section2Buttons button {
    width: 40%;
  }
}
@media all and (max-width: 767px) {
  /* section 1 */
  .section1 {
    width: 100%;
    margin-bottom: 1rem;
  }

  /* section 2 */
  .section2Content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .section2Buttons {
    gap: 1.5rem;
  }
  .section2Buttons button {
    width: 60%;
  }
  .section2Images {
    margin-top: -4rem;
    display: none;
  }
}
